.about-page {
  height: 150vh;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkgray);
}

.about-page h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  color: var(--darkgray);
}

.about-box {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(2, 1fr);
}

.icon-box {
  align-self: center;
  text-align: center;

  height: 200px;
}

.about-box img {
  height: 100px;
  align-self: center;
}

.about-box img:hover {
  transform: rotate(10deg);
}

.textbox {
  grid-column-start: 2;
  text-align: center;
  padding: 10px;
}

.textbox img {
  height: 200px;
}

.skills {
  grid-column-start: 3;
  align-self: center;
}

.skills img {
  height: 200px;
}

@media only screen and (max-width: 1000px) {
  .about-page {
    height: auto;
  }
  .about-page h1 {
    margin-bottom: 40px;
  }
  .about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon-box {
    flex-basis: 40%;
    align-self: flex-start;
    margin-bottom: 90px;
  }
  .skills img {
    height: 100px;
  }
}
