.modal-background {
  background-color: var(--operamauve);
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.modal-background h2 {
  color: var(--middlebluegreen);
  font-family: "Exo", sans-serif;
  text-transform: uppercase;

  border: 1px solid var(--middlebluegreen);
  width: 300px;

  text-align: center;
  font-weight: 400;
  font-size: 35px;
}

.modal-background h2:hover{
  text-decoration: overline;
}

.modal-background a {
  text-decoration: none !important;
  font-size: 30px;

  margin-left: 10px;
  margin-top: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  position: fixed;
  left: 10%;
 
}