* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

:root {
  --operamauve: #ad7a99;
  --beaublue: #b2cede;
  --middlebluegreen: #8cdfd6;
  --middleblue: #6dc0d5;
  --hookersgreen: #5a716a;
  --lightergreen: rgba(164, 199, 164, 0.445);

  --woodsmoke: #0b0c10;
  --darkgray: #1f2833;
  --silver: #c5c6c7;
  --vibrantblue: #66fcf1;
  --lightseagreen: #45a29e;
  --redviolet: #c23c8e;
  --balticsea: #252834;
  --dark: #1E252C;
}

body {
  font-family: "Exo", sans-serif;
}

.background-faded {
  filter: blur(10px);
  opacity: 1;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}
