* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

:root {
  --operamauve: #AD7A99;
  --beaublue: #B2CEDE;
  --middlebluegreen: #8CDFD6;;
  --middleblue: #6DC0D5;
  --hookersgreen: #5A716A;
  --lightergreen: rgba(164, 199, 164, 0.445);
}

body {
  font-family: "Exo", sans-serif;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}
